// Colors
$themeColor: #f14c00;
$selectionColor: #ffdccc;
$textColor: #2b2b3b;
$fadeColor: #666;
$borderColor: #ddd;
$tableBackgroundColor: #f2f2e3;
$mainBackgroundColor: #fafafa;
$contentBackgroundColor: #f7f7f1;
$codeKbdColor: #494dfe;
$codeMarkColor: #00e64d;

// Dimensions
$minWidth: 240px;
$maxWidth: 760px;
$mobileWidth: 555px; // this value is the exact amount of space so
                     // that the nav bar does not occupy multiple lines

// Font stacks
$primaryFonts: Palatino, "Book Antiqua", Helvetica, Georgia, Arial, sans-serif;
$mathFonts: Georgia, "Times New Roman", serif;
$monoFonts: Monaco, Consolas, monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: $mobileWidth) {
    @content;
  }
}
