// Colors
// $main_color: #05B592;
// $darkBlue: #036350;
$main_color: #f14c00;
$dark_color: #662000;

// Grays
$black: #000;
$darkGray: #292939;
$gray: #666;
$lightGray: #ddd;

$white: #fafafa;
$offWhite: #f7f7f1;
$darkoffWhite: #f2f2e3;

// I don't know why these numbers work, but they are the exact quantities needed to get
// flawless transitions between the two-sided headers and one-sided headers, with appropriate
// centering, and exactly 3 columns of minWidth when the page is full width
$minWidth: 260px;
$maxWidth: 800px;
$mobileWidth: 539px;

// Font stacks
$primary: Palatino, Merriweather, Helvetica, Arial, sans-serif;
$math: Georgia, Times New Roman, serif;
$mono: Monaco, Consolas, monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: $mobileWidth) {
    @content;
  }
}
