@import "variables";

@media print {
  @page {
    margin: 2cm;
  }
  body {
    font: 13pt $primaryFonts;
    background: #fff;
  }
  .container {
    display: initial;
    grid-template-rows: 0px auto auto;
    row-gap: 0px;
    & header, & nav {
      display: none;
    }
    .post-footer {
      display: none;
    }
  }
  article {
    border-top: none;
  }
  code {
    border: 1px solid $borderColor;
  }
  .post-author {
    display: block;
    margin: 2px 0px;
  }
  .post-title {
    margin-bottom: 20px;
  }
}
