@import "variables";

// Abstract
// --------
.abstract {
  display: inline;

  summary {
    display: inline;
    cursor: pointer;
    color: $themeColor;

    &::before {content: "(";}
    &::after {content: ")";}
  }

  small {
    display: block;
    color: $fadeColor;
    padding-block: .8em 1em;
  }
}

.time {
  white-space: nowrap;
  vertical-align: top;
}

tr > :first-child {
  min-width: fit-content;
}
