@import "reset";
@import "variables";


html {
  font-size: 100%;
  font-family: $primary;
}


// main body contents
body {
  background: $white;
  font: 18px/1.4 $primary;
  color: $darkGray;
}


// body wrapper, defines main grid
.wrapper {
  background: $offWhite;
  margin: 0 auto;
  max-width: $maxWidth;
  padding: 0 10px 25px;
  width: 100%;
  display: grid;
  min-width: 0;
  row-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px auto auto;
  grid-template-areas:
    "name nav"
    "ct ct"
    "fg fg";
  @include mobile {
    grid-template-columns: auto;
    grid-template-rows: 30px 20px auto auto;
    grid-template-areas:
      "name"
      "nav"
      "ct"
      "fg";
  }
}

// content for main article
.content {
  grid-area: ct;
  min-width: 0;
  max-width: 100%;
  border-top: 2px solid $lightGray;
}

// flexible grid for displaying things at the bottom of the page
.flexgrid-display {
  grid-area: fg;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, auto);
  @include mobile {
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fit, auto);
  }
}

// header in top left
.header-name {
  grid-area: name;
  margin: 0;
  font-weight: 300;
  font-size: 26px;
  letter-spacing: 1px;
  font-style: oblique;
  justify-self: left;
  align-self: end;
}

// post footer
.post-footer {
  border-top: 2px solid $lightGray;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "date tags";
  width: 100%;
  @include mobile {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "date"
      "tags";
  }
}
.fade, .post-date, .post-tags {
  font-size: 16px;
  color: $gray;
}
.post-date {
  grid-area: date;
}
.post-tags {
  grid-area: tags;
  justify-self: right;
  @include mobile {
    justify-self: left;
  }
}

// nav in top right
nav {
  font-size: 18px;
  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    // colour links on mobile
    @include mobile {
      margin: 0 10px;
      color: $main_color;
    }
  }
}

.header-nav {
  grid-area: nav;
  justify-self: right;
  align-self: end;
}


// center headers when on mobile
.header-name, .header-nav {
  @include mobile {
    justify-self: center;
  }
}


table {
  border-collapse: collapse;
  margin: 25px 0;
  thead tr th {
    padding: 3px 10px;
    background-color: $darkoffWhite;
    text-align: left;
    border-bottom: 1px solid $lightGray;
  }
  tbody tr td {
    padding: 3px 10px;
    word-wrap: normal;
    max-width: 90%;
    border-bottom: 1px solid $lightGray;
  }
}

.full-width {
  width: 100%;
}

.pub {
  tbody tr td {
    padding: 1px 5px;
  }
  margin: 1px 0 0 25px;
}

blockquote {
  margin: 1.8em .8em;
  border-left: 2px solid $gray;
  padding: 0 1rem;
  font-style: italic;
  p {
    margin: 2px 0;
  }
}


code {
  font: 15px/1.4 $mono;
  background: $lightGray;
  padding: 0 3px;
  border-radius: 2px;
}


// render code so you can scroll to see really wide lines
pre code {
  background: $lightGray;
  padding: 10px;
  max-width: 100%;
  min-width: 0;
  display: block;
  overflow-x: scroll;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;

  line-height: 1.0;
  margin: 0.7em 0 12px;
  padding: 0;

  @include mobile {
    line-height: 1.1;
  }
  a {
    &:hover {
      text-decoration: underline
    }
  }
  .term-header {
    color: inherit;
  }
}



h1 {
  font-size: 26px;
  counter-reset: section;
  a {
    color: inherit;
  }
}
.post-title {
  text-align: center;
}

h2 {
  font-size: 20px;
  counter-reset: subsection;
  &:before {
    counter-increment: section;
    content: counter(section) ".\0000a0\0000a0";
  }
}

h3 {
  font-size: 18px;
  &:before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) ".\0000a0\0000a0";
  }
}

h4 {
  font-size: 16px;
  color: $gray;
}

p {
  margin: 10px 0;
}

a {
  color: $main_color;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $main_color;
  }
}

.hidden-link {
  color: inherit;
}

.active {
  color: $main_color;
}

span.side-count {
  color: $gray;
  font-style: italic;
}


ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: circle;
}

.tag-list {
  line-height: 1.2;
  margin: 4px 0;
}

ol {
  list-style-type: decimal;
}
.pubs li {
  margin-bottom: 5px;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Specify the color of the selection
::selection {
  // background: $lightGray;
  background: $highlight_color;
}

sup { 
  vertical-align: super;
  font-size: 70%;
}

var {
  font-family: $math;
  font-style: italic;
}
