{# 'data[key]' is a dict with attribute "url", and 'attr' is the corresponding attribute to print as the link #}
{% macro data_link(key, data, attr="name") %}
  {%- if data is containing(key) -%}
    {%- set source = data[key]-%}
    <a rel="noopener" target="_blank" class="hidden-link" href="{{ source.url | safe }}">{{ source[attr] | safe }}</a>
  {%- endif -%}
{%- endmacro %}

{# as above, except accepts an array of keys 'key_arr' #}
{% macro data_link_arr(key_arr, data, attr="name", join_str=" / ") %}
  {%- for key in key_arr -%}
  {{ self::data_link(key=key, data=data, attr=attr) }}{% if loop.last == false%}{{ join_str }}{% endif %}
  {%- endfor -%}
{% endmacro %}

{% macro list_links(hash, pre="", post="") %}
  {%- if hash | length != 0 -%}
    {{ pre | safe }}
    {%- for name, url in hash -%}

      {# set prefix #}
      {%- if name is matching("arxiv") %}{% set prefix = "https://arxiv.org/abs/" %}
      {%- elif name is matching("doi") %}{% set prefix = "https://doi.org/" %}
      {%- elif name is matching("zbl") %}{% set prefix = "https://zbmath.org/" %}
      {%- elif name is matching("pypi") %}{% set prefix = "https://pypi.org/project/" %}
      {%- elif name is matching("github") %}{% set prefix = "https://github.com/" %}
      {%- elif name is matching("crates.io") %}{% set prefix = "https://crates.io/crates/" %}
      {%- elif name is matching("pdf|slides|code|poster") %}{% set prefix = "/" %}
      {%- else %}{% set prefix = "" %}{% endif -%}

      {# set options #}
      {%- if name is matching("code") %}{% set opts = ["download"] %}
      {%- endif -%}

      <span><a rel="noopener" title = "{{ url | safe }}" target="_blank" href="{{ prefix ~ url | safe }}"{% if opts %} {{ opts | join(sep=" ") }}{% endif %}>{{ name }}</a></span>
    {%- endfor -%}
    {{ post | safe }}
  {%- endif -%}
{% endmacro %}

{# key is the element counted, and data is the loop for key
- e.g. name "hare.kathryn-e", data is load_data("data/people.json")
#}
{% macro count_li(key, data, attr="name", ct) %}
  <li>{{ self::data_link(key=key, data=data, attr=attr) }} <span class="side-count">({{ ct }})</span></li>
{% endmacro %}

{# consume an array of array and return a hash with keys the set of unique elements and values their respective counts #}
{% macro tally_with_flatten(arr_of_arr, data, attr="name") %}
<ul>
  {# construct the flattened array #}
  {%- set flat_arr = [] -%}
  {%- for arr in arr_of_arr %}{% set_global flat_arr = flat_arr | concat(with=arr) %}{% endfor -%}

  {# get the counts #}
  {%- for key in flat_arr | unique | sort -%}
    {%- set_global ct = 0 -%}
    {%- for elem in flat_arr -%}{% if key == elem %}{% set_global ct = ct + 1 %}{% endif %}{%- endfor %}
  {{ self::count_li(key=key, data=data, attr=attr, ct=ct) }}
  {%- endfor -%}
</ul>
{% endmacro %}

{% macro get_pub_id(publ) %}
{{- publ.links.pdf | replace(from="/", to="-") | replace(from=".pdf", to="") -}}
{% endmacro %}

{% macro publ_status(publ) %}
{%- if publ.status == "submitted" %}<em>{{ self::data_link(data=load_data(path="data/journals.json"), key="preprint") }}</em> (submitted)
{%- elif publ.status == "accepted" %}<em>{{ self::data_link(data=load_data(path="data/journals.json"), key=publ.ref.journal) }}</em> (to appear)
{%- elif publ.status == "published" %}<em>{{ self::data_link(data=load_data(path="data/journals.json"), key=publ.ref.journal) }}</em> <b>{{ publ.ref.vol }}</b> ({{ publ.ref.year }}), {% if publ.ref.article_no %}Paper No. {{ publ.ref.article_no}}, {{ publ.ref.page_count }} p.{% else %}{{ publ.ref.page_start }}–{{ publ.ref.page_end }}{% endif %}
{%- elif publ.status == "expository" %}<em>Permanent Preprint</em>
{%- endif -%}
{% endmacro %}

{% macro publication(publ) %}
  <li id="{{ self::get_pub_id(publ=publ) }}"><cite>{{ publ.title }}</cite>
    <table class="pub">
    {%- if publ.with -%}
    <tr>
      <td>With:</td>
      <td>{{ self::data_link_arr(data=load_data(path="data/people.json"), key_arr=publ.with, join_str=", ") }}</td>
    </tr>
    {%- endif -%}
    <tr>
      <td>Journal:</td>
      <td>{{ self::publ_status(publ=publ) }}</td>
    </tr>
    <tr>
      <td>Links:</td>
      <td class="list">{{ self::list_links(hash=publ.links) }}</td>
    </tr>
    </table>
  </li>
{% endmacro %}

{% macro publication_count(type) -%}
{% if type is matching("accepted") %}{% set message = "accepted but not yet published" %}{% else %}{% set message = type %}{% endif -%}
{% if type is matching("submitted") %}{% set punct = "." %}{% else %}{% set punct = ";" %}{% endif -%}
{% set count = load_data(path="data/papers.json") | filter(attribute="status", value=type) | length -%}
{% if count == 1 %}{% set verb = "is" %}
{% else %}{% set verb = "are" %}
{% endif %}<li><strong>{{ count }}</strong> {{ verb }} {{ message }}{{ punct }}</li>
{%- endmacro %}
