{% extends "base.html" %}

{% block content %}
<h1 class="post-title">{{ page.title | safe }}</h1>
<span class="fade">{{ page.date | date(format="%B %-d, %Y") }}</span>
<!--- toc -->
{% if page.toc %}
<h2>Contents</h2>
<ol class="no-margin toc">
  {% for h1 in page.toc %}
  <li>
    <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
    {% if h1.children %}
    <ol>
      {% for h2 in h1.children %}
      <li>
        <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
      </li>
      {% endfor %}
    </ol>
    {% endif %}
  </li>
  {% endfor %}
</ol>
{% endif %}
<div class="article-contents">
{{ page.content | safe }}
</div>
<div class="post-footer">
    <div class="post-date">last updated: {{ page.date | safe }}</div>
    <div class="post-tags">
        {%- for tag in page.taxonomies.tags | sort %}
        <a class="hidden-link" href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag | safe }}</a>
        {%- if not loop.last %} / {% endif -%}
        {% endfor -%}
    </div>
</div>
{% endblock %}
