{% extends "base.html" %}

{% block content %}
<h1 class="post-title">{{ page.title | safe }}</h1>
<span class="fade">{{ page.date | date(format="%B %-d, %Y") }}</span>
<div class="article-contents">
{{ page.content | safe }}
</div>
<div class="post-footer">
    <div class="post-date">last updated: {{ page.date | safe }}</div>
    <div class="post-tags">
        {%- for tag in page.taxonomies.tags | sort %}
        <a class="hidden-link" href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag | safe }}</a>
        {%- if not loop.last %} / {% endif -%}
        {% endfor -%}
    </div>
</div>
{% endblock %}
