{% extends "base.html" %}

{% block content %}
<h1 class="post-title">{{ page.title | safe }}</h1>
{#
<!--- toc -->
{% if page.toc %}
    <ul>
    {% for h1 in page.toc %}
        <li>
            <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}
#}
{{ page.content | safe }}
<div class="post-footer">
    <div class="post-date">last updated: {{ page.date | safe }}</div>
    <div class="post-tags">
        {%- for tag in page.taxonomies.tags | sort %}
        <a class="hidden-link" href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag | safe }}</a>
        {%- if not loop.last %} / {% endif -%}
        {% endfor -%}
    </div>
</div>
{% endblock %}
