<!DOCTYPE html>
{% if page %}
{% set title = page.title %}
{% set description = page.description %}
{% elif section %}
{% set title = section.title %}
{% set description = section.description %}
{% else %}
{% set title = "404 - Page Not Found" %}
{% set description = "Page Not Found" %}
{% endif %}
<html lang="en">
  <head>
    <title>{{ title }} – {{ config.extra.author }}</title>

    <meta charset="utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <meta name="description" content="{{ description }}" />
    <meta name="author" content="{{ config.extra.author }}" />
    <meta property="og:title" content="{{ title }} -- {{ config.extra.author | safe }}" />
    <meta property="og:description" content="{{ description | safe }}" />

    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
  </head>

  <body>
    <div class="wrapper">
      <header class="header-name">
        <a href="/">{{ config.extra.author }}</a>
      </header>

      <nav class="header-nav">
        {% set links = load_data(path="data/links.json") %}
        {%- for obj in links.nav -%}
        {%- if not current_path %}{% set active = false %}
        {%- elif current_path is starting_with(obj.url) %}{% set active = true %}
        {%- else %}{% set active = false %}{% endif %}
        <a {% if active %}class='active' {% endif %}href='{{ obj.url | safe }}'>{{ obj.name | safe }}</a>
        {%- endfor %}
      </nav>

      <article class="content">
        {% block content %}{% endblock %}
      </article>

      <div class="flexgrid-display">
        {% block flexgrid %}{% endblock %}
      </div>
    </div>
  </body>
</html>
