<!DOCTYPE html>
{%- if page %}
{%- set title = page.title %}
{%- set description = page.description %}
{%- elif section %}
{%- set title = section.title %}
{%- set description = section.description %}
{%- elif current_path %}
  {%- if current_path == "/tags/" %}
  {%- set title = "All Tags" %}
  {%- set description = "All posts and tags." %}
  {%- elif current_path is starting_with("/tags/") %}
  {%- set title = "Tag: " ~ term.name %}
  {%- set description = "All pages with tag " ~ term.name %}
  {%- endif %}
{%- else %}
{%- set title = "404 - Page Not Found" %}
{%- set description = "Error: page not found" %}
{%- endif %}
{#- note: once https://github.com/Keats/tera/issues/265 is implemented, can reuse block - for now, this is a workaround #}
{#- todo: set title for the tag pages as well #}
{#- once done, replace {{ description }} with {% block description %}{% endblock %} etc. #}
<html lang="en">
  <head>
    <title>{{ title }} – {{ config.extra.author }}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#f14c00">
    <link rel="alternate" type="application/atom+xml" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ config.extra.author }}">
    <meta property="og:title" content="{{ title }} -- {{ config.extra.author | safe }}">
    <meta property="og:description" content="{{ description }}">

    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  </head>

  <body>
    <div class="wrapper">
      <header class="header-name">
        <a href="/">{{ config.extra.author }}</a>
      </header>

      <nav class="header-nav">
        {%- set links = load_data(path="data/links.json") %}
        {%- for obj in links.nav -%}
        {%- if not current_path %}{% set active = false %}
        {%- elif current_path is starting_with(obj.url) %}{% set active = true %}
        {%- else %}{% set active = false %}{% endif %}
        <a {% if active %}class='active' {% endif %}href='{{ obj.url | safe }}'>{{ obj.name | safe }}</a>
        {%- endfor %}
      </nav>

      <article class="content">
        <h1{% if page %} class="post-title"{% endif %}>{{ title }}</h1>
        {%- block content -%}{%- endblock -%}
      </article>

      <div class="flexgrid-display">
        {% block flexgrid %}{% endblock %}
      </div>
    </div>
  </body>
</html>
