{% import "macros/data_links.html" as linker %}
{% extends "base.html" %}
{% block title %}{{ section.title | safe }}{% endblock %}
{% block description %}{{ section.description | safe }}{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href="/burn2022.css">{% endblock %}
{% block content %}
<h2>Monday, April 11</h2>
<table class="schedule">
    <tr>
        <td><nobr>13:45</nobr></td>
        <td><em>Bus departure (St Andrews - Mathematical Institute)</em></td>
    </tr>
    <tr>
        <td><nobr>14:15</nobr></td>
        <td><em>Bus departure (Dundee - Dundee Bus Station)</em></td>
    </tr>
    <tr>
        <td><nobr>16:15 - 16:45</nobr></td>
        <td><strong>Laura Johnson</strong> - <em>Algebra Intro Talk</em></td>
    </tr>
    <tr>
        <td><nobr>16:45 - 17:15</nobr></td>
        <td><strong>Kate Mowbray</strong> - <em>Solar Intro Talk</em></td>
    </tr>
    <tr>
        <td><nobr>17:15 - 17:30</nobr></td>
        <td><em>Coffee break</em></td>
    </tr>
    <tr>
        <td><nobr>17:30 - 18:00</nobr></td>
        <td><strong>Liam Stuart</strong> - <em>Analysis Intro Talk</em></td>
    <tr>
        <td><nobr>18:00 - 18:30</nobr></td>
        <td><strong>Dimitrios Katsaounis</strong> - <em>StAMBio Intro Talk</em></td>
    </tr>
    <tr>
        <td><nobr>18:30 - 20:00</nobr></td>
        <td><em>Dinner</em></td>
    </tr>
    <tr>
        <td><nobr>20:00 - late</nobr></td>
        <td><em>Intro social</em></td>
    </tr>
</table>
<h2>Tuesday, April 12</h2>
<table class="schedule">
    <tr>
        <td><nobr>09:00 - 10:20</nobr></td>
        <td><em>Breakfast</em></td>
    </tr>
    <tr>
        <td><nobr>10:20 - 10:40</nobr></td>
        <td><strong>Felix Petersma</strong> - <em>Close-kin mark recapture: a new way to estimate animal abundance</em> <label for="fpet">abstract</label><input type="checkbox" id="fpet"><small>We estimate the abundance of animals in order to understand their ecology and to improve our conservation efforts. We estimate abundance because it is often difficult to know exactly how many there are: we can go out and start counting them, but how many did we miss? Close-kin mark recapture (CKMR) is a novel method to estimate total abundance of a population based on a sample. By taking genetic samples and evaluating the kinship among our sampled individuals, we can make inferences on size and characteristics of the entire population. This method lives in the intersection of statistics, population biology, and genetics, and applications are often big collaborative efforts. It relies on many assumptions, some of which I will test based on a case study of grey reef sharks.</small>
        </td>
    </tr>
    <tr>
        <td><nobr></nobr><nobr>10:40 - 11:00</nobr></td>
        <td><strong>Russell Campbell</strong> - <em>Sea ice and the evolution of a brine channel</em> <label for="russell-cambell">abstract</label><input type="checkbox" id="russell-cambell"><small>As climate change alters the nature of arctic sea ice, it is becoming increasingly important to understand the processes underpinning its formation and evolution. In this talk, I will present a very brief introduction to the dominant framework used to model the evolution of the ice interior and discuss one of the most crucial features governing ice development.</small>
        </td>
    </tr>
    <tr>
        <td><nobr>11:00 - 11:20</nobr></td>
        <td><strong>Alex Rutar</strong> - <em>A Primer on Pisot Numbers</em> <label for="arutar">abstract</label><input type="checkbox" id="arutar"><small>A Pisot number is a real algebraic integer strictly greater than 1, such that all its Galois conjugates have modulus strictly less than 1. I'll discuss some interesting properties of these numbers, as well as some surprising connections to fractal geometry.</small>
        </td>
    </tr>
    <tr>
        <td><nobr>11:20 - 11:50</nobr></td>
        <td><em>Coffee break</em></td>
    </tr>
    <tr>
        <td><nobr>11:50 - 12:10</nobr></td>
        <td><strong>Abinand Reddi Kodi</strong> - <em>Ghostbusting (Method to check for individual misclassifications in SCR studies)</em> <label for="ark">abstract</label><input type="checkbox" id="ark"><small>Misidentifications of individuals from camera trap surveys are not uncommon and tend to generate single capture ‘ghost’ individuals which lead to significant bias in Density estimates. We develop a method for fitting SCR models conditioning on an individual being detected at least 2 (or more generally ‘k’) times. We propose this method to be a good diagnostic check for the possible presence of ‘ghosts’.</small>
        </td>
    </tr>
    <tr>
        <td><nobr>12:10 - 12:30</nobr></td>
        <td><strong>Maria Tsalakou</strong> - <em>The low index congruences method for monoids</em> <label for="mtsa">abstract</label><input type="checkbox" id="mtsa"><small>The low index congruences method is a semigroup theoretic analogue of an algorithm known as the low index subgroup algorithm for finitely presented groups. I will describe the algorithm and explain how it can be used to compute the lattice of congruences of a finite monoid.</small>
        </td>
    </tr>
    <tr>
        <td><nobr>12:30 - 12:50</nobr></td>
        <td><strong>Raquel Couto</strong> - <em>Extreme Values and Dynamical Systems - a very short introduction</em> <label for="rcou">abstract</label><input type="checkbox" id="rcou"><small>TODO</small>
        </td>
    </tr>
    <tr>
        <td><nobr>13:00 - 14:30</nobr></td>
        <td><em>Lunch</em></td>
    </tr>
    <tr>
        <td><nobr>14:30 - 15:00</nobr></td>
        <td><strong>Natalia Jurga</strong> - <em>Working in Academia</em></td>
    </tr>
    <tr>
        <td><nobr>15:00 - 16:00</nobr></td>
        <td><strong>Workshop</strong> - <em>Various topics (may include tikz, web development, git)</em></td>
    </tr>
    <tr>
        <td><nobr>16:00 - 18:30</nobr></td>
        <td><em>Free time</em></td>
    </tr>
    <tr>
        <td><nobr>18:30 - 20:00</nobr></td>
        <td><em>Dinner</em></td>
    </tr>
    <tr>
        <td><nobr>20:00 - late</nobr></td>
        <td><em>Evening social</em></td>
    </tr>
</table>
<h2>Wednesday, April 13</h2>
<table class="schedule">
    <tr>
        <td><nobr>09:00 - 10:00</nobr></td>
        <td><em>Breakfast</em></td>
    </tr>
    <tr>
        <td><nobr>10:00 - 10:40</nobr></td>
        <td><em>Free time</em></td>
    </tr>
    <tr>
        <td><nobr>10:40</nobr></td>
        <td><em>Check out of rooms</em></td>
    </tr>
    <tr>
        <td><nobr>10:40 - 11:00</nobr></td>
        <td><strong>Konstantinos Alexiou</strong> - <em>Limiting processes for reaction networks</em> <label for="kale">abstract</label><input type="checkbox" id="kale"><small>Understanding the long-time behaviour of multiscale stochastic dynamical systems that arise in reaction networks poses a crucial question with relevance in various fields including mathematical and computational biology, stochastic chemical kinetics, ecology, and statistical systems biology. Therefore, deriving a continuum model that is able to capture accurately such behaviour is extremely prominent. We present here a stochastic agent-based model which governs the phenotypic evolution of the cells. In particular, we consider the case where the spontaneous phenotypic changes, or equivalently variations, allow the cells to update their phenotypic states with respect to the corresponding reactions of the underlying biochemical network.</small>
        </td>
    </tr>
    <tr>
        <td><nobr></nobr><nobr>11:00 - 11:20</nobr></td>
        <td><strong>Amlan Banaji</strong> - <em>History of Bedford-McMullen carpets</em> <label for="aban">abstract</label><input type="checkbox" id="aban"><small>We will explain some of the reasons – both mathematical and personal – why in the 1980s Bedford and McMullen independently introduced a class of fractals which are now known as Bedford-McMullen carpets. After illustrating the construction of these sets and stating their Hausdorff and box dimensions, we will describe some qualitative features of their intermediate dimensions (proved in joint work with Istvan Kolossvary).</small>
        </td>
    </tr>
    <tr>
        <td><nobr>11:20 - 11:40</nobr></td>
        <td><strong>Victor Velasco Pardo</strong> - <em>A Bayesian clustering approach to mutational signature deconvolution</em> <label for="vvp">abstract</label><input type="checkbox" id="vvp"><small>Mutational signatures are patterns of mutations in the DNA of tumour cells that are associated with mutational processes, including some resulting from carcinogens such as tobacco and UV light. Those signatures can be used to stratify cancer patients and could potentially be used as biomarkers. An inverse problem approach can be used to estimate mutational signatures using sequencing data from a cohort of cancer patients. However, the mathematical approaches available in the literature do not recognise uncertainty around parameter estimates. In this talk, I will explain how I am using Bayesian clustering I am using to tackle that problem, and how we can use the rich output of an MCMC algorithm to assess uncertainty around the parameters of interest.</small>
        </td>
    </tr>
    <tr>
        <td><nobr>11:40 - 12:00</nobr></td>
        <td><strong>Liam Stott</strong> - <em>Diagram groups</em> <label for="lsto">abstract</label><input type="checkbox" id="lsto"><small>Free groups, i.e. groups of finite strings subject only to free cancellation, are in some sense fundamental to group theory. Diagrams are a two-dimensional analogue of strings, while diagram groups are similarly analogous to free groups, and this additional dimension brings with it startling complexity. In this talk I will introduce diagram groups and note a fundamental example of such: the well-known Thompson's group F.</small>
        </td>
    </tr>
    <tr>
        <td><nobr>12:00 - 13:30</nobr></td>
        <td><em>Lunch</em></td>
    </tr>
    <tr>
        <td><nobr>13:30</nobr></td>
        <td><em>Bus return</em></td>
    </tr>
</table>
{% endblock %}
