{% extends "base.html" %}

{% block content %}
{{ section.content | safe }}
{% endblock content %}

{% block footer %}
<div>
  <h2>Electronic</h2>
  <table>
    <tbody>
      <tr>
        <td>email:</td>
        <td><a href="mailto:{{ config.extra.info.email | urlencode_strict }}">{{ config.extra.info.email | replace(from="@", to=" (at) ") }}</a></td>
      </tr>
      <tr>
        <td>pgp:</td>
        <td><a href="{{ config.extra.info.pgp }}">pubkey.asc</a></td>
      </tr>
      <tr>
        <td>uni:</td>
        <td><a href="mailto:{{ config.extra.info.uni | urlencode_strict }}">{{ config.extra.info.uni | replace(from="@", to=" (at) ") }}</a></td>
      </tr>
      <tr>
        <td>github:</td>
        <td><a href="https://github.com/{{ config.extra.info.github }}">{{ config.extra.info.github }}</a></td>
      </tr>
      <tr>
        <td>orcid:</td>
        <td><a href="https://orcid.org/{{ config.extra.info.orcid }}">{{ config.extra.info.orcid }}</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <h2>Snail Mail</h2>
  <blockquote>
    <p>Alex Rutar</p>
    <p><a class="hidden-link" href="https://www.openstreetmap.org/relation/2025300">Mathematical Institute</a></p>
    <p>North Haugh</p>
    <p>St Andrews</p>
    <p>Fife, KY16 9SS</p>
    <p>Scotland</p>
  </blockquote>
</div>
{% endblock footer %}
