{% extends "base.html" %}
{% block content %}
{{ section.content | safe }}
{% endblock %}
{% block flexgrid %}
<div class="display">
<div>
  <h2>Internal Links</h2>
  <ul>
    {%- for obj in links.internal %}
    <li><a href='{{ obj.url | safe }}'>{{ obj.name | safe }}</a></li>
    {%- endfor %}
  </ul>
</div>

<div>
  <h2>External Links</h2>
  <ul>
    {%- for obj in links.external %}
    <li><a href='{{ obj.url | safe }}'>{{ obj.name | safe }}</a></li>
    {%- endfor %}
  </ul>
</div>
<div>
  <h2>Collaborators</h2>
  {{<linker.tally_with_flatten arr_of_arr={[publ.with for publ in load_data(path="data/papers.json")]} data={load_data(path="data/people.json")} />}}
</div>

<div>
  <h2>Journals</h2>
  {{<linker.tally_with_flatten arr_of_arr={[publ.ref.journal for publ in load_data(path="data/papers.json") if publ?['ref']]} data={load_data(path="data/journals.json")} />}}
</div>
</div>
{% endblock %}
