{% import "macros/data_links.html" as linker %}
{% extends "base.html" %}
{% block title %}{{ section.title }}{% endblock %}
{% block description %}{{ section.description }}{% endblock %}
{% block content %}
{%- set publications = load_data(path="data/papers.json") -%}
<ul>
    <li><a href="#research">Research Articles</a></li>
    <li><a href="#expository">Expository Articles</a></li>
</ul>
{%- for article_type in ["research","expository"] -%}
<hr>
<h2 id="{{ article_type }}">{% if article_type == "research" %}Research Articles{% else %}Expository Articles{% endif %}</h2>
<ol class="pubs" reversed>
  {%- for publ in publications | filter(attribute="type", value=article_type) %}
  {{- linker::publication(publ=publ) -}}
  {% endfor %}
</ol>
{%- endfor -%}
{% endblock %}
