{% import "macros/data_links.html" as linker %}
{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block content %}
<h2>Description</h2>
{{ page.content | safe }}

<hr>
{%- set publications = load_data(path="data/papers.json") -%}
Jump to: <a href="#research">research articles</a> or <a href="#expository">expository articles</a>.
{%- for article_type in ["research","expository"] -%}
<h2 id="{{ article_type }}">{% if article_type == "research" %}Relevant Research Articles{% else %}Relevant Expository Articles{% endif %}</h2>
<ol class="pubs" reversed>
  {%- for publ in publications | filter(attribute="type", value=article_type) %}
  {%- if publ.tags is containing(page.slug) %}{{ linker::publication(publ=publ) }}{% endif -%}
  {% endfor %}
</ol>
{%- endfor -%}
{% endblock %}
