{% import "macros/data_links.html" as linker %}
{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{%- block content -%}
<h2>Description</h2>
{{ page.content | safe }}

{%- set publications = load_data(path="data/papers.json") -%}
<p>Jump to:</p>
<ul>
    <li><a href="#research">Research Articles</a></li>
    <li><a href="#expository">Expository Articles</a></li>
</ul>
{%- for article_type in ["research","expository"] -%}
{%- set publ_list = publications | filter(attribute="type", value=article_type) -%}
{% set_global has_article = false -%}
{% for publ in publ_list %}{% if publ.tags is containing(page.slug) %}{% set_global has_article = true %}{% endif %}{% endfor -%}
{% if has_article -%}
<h2 id="{{ article_type }}">{% if article_type == "research" %}Relevant Research Articles{% else %}Relevant Expository Articles{% endif %}</h2>
<ol class="pubs" reversed>
  {%- for publ in publ_list %}
  {%- if publ.tags is containing(page.slug) %}{{ linker::publication(publ=publ) }}{% endif -%}
  {% endfor %}
</ol>
{%- endif -%}
{%- endfor -%}
{%- endblock -%}
