{% import "macros/data_links.html" as linker %}
{% extends "base.html" %}
{% block title %}{{ section.title }}{% endblock %}
{% block description %}{{ section.description }}{% endblock %}
{% block content %}
{%- set publ_hash = load_data(path="data/publications.json") -%}
<h2 id="publications">Publications</h2>
<p>I have written <a class="hidden-link" href="/publications/"><strong>{{ publ_hash | length }}</strong> research papers</a>, of which:</p>
<ul>
    <li><strong>{{ publ_hash | filter(attribute="status", value="published") | length }}</strong> are published;</li>
    <li><strong>{{ publ_hash | filter(attribute="status", value="accepted") | length }}</strong> are accepted but not yet published;</li>
    <li><strong>{{ publ_hash | filter(attribute="status", value="submitted") | length }}</strong> are submitted.</li>
</ul>
<p>Generally speaking, my work is subdivided into a number of non-disjoint categories.
Click on each entry to get a description of the category as well as a list of the relevant papers.</p>
<ul>
  {% for page in section.pages | sort(attribute="title") %}
  <li><a href="{{ page.path | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
You can also read a <a href="/publications/">complete list of all my publications</a>.

<h2 id="software">Software</h2>
<table class="full-width">
  <thead>
    <tr>
      <th>Description</th>
      <th>Language</th>
      <th>Links</th>
    </tr>
  </thead>
{%- set software_hash = load_data(path="data/software.json") -%}
{%- for software in software_hash -%}
  <tbody>
    <tr>
      <td>{{ software.description }}</td>
      <td>{{ software.lang }}</td>
      <td class="list">{{ linker::list_links(hash=software.links) }}</td>
    </tr>
  </tbody>
{%- endfor -%}
</table>

<h2 id="presentations">Presentations</h2>
This is a complete list of presentations which I have given at various venues.
If you are curious, you can also find a complete description of my <a href="/where">travel history</a>.
<ul>
{%- set sorted_talks = load_data(path="data/talks.json") | sort(attribute="date") | reverse -%}
{%- for talk in sorted_talks -%}

{%- if talk.venue_url -%}{% set talk_name = '<a href="' ~ talk.venue_url ~ '" class="hidden-link">' ~ talk.venue ~ '</a>' %}
  {%- else -%}{% set talk_name = talk.venue %}
  {%- endif %}
  <li class="list">{{ talk.date | date(format="%b. %Y") }} - {{ talk_name | safe }} - <cite>{{ talk.title }}</cite> {{ linker::list_links(hash=talk.links, pre="(", post=")") | safe }}</li>
  {% endfor -%}
</ul>
{% endblock %}
