{% import "macros/data_links.html" as linker %}
{% extends "base.html" %}
{% block title %}{{ section.title }}{% endblock %}
{% block description %}{{ section.description }}{% endblock %}
{% block content %}
{%- set publ_hash = load_data(path="data/papers.json") -%}
<h2 id="publications">Publications</h2>
<p>Here is a <a href="/publications/">complete list of all my publications</a> which also includes my expository articles.
You can find some meaningless statistics about my work <a href="/stats/">here</a>.</p>
<p>Generally speaking, my work is subdivided into a number of non-disjoint categories.
Click on each entry to get a description of the category as well as a list of the relevant papers.</p>
<ul>
  {% for page in section.pages | sort(attribute="title") %}
  <li><a href="{{ page.path | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>

<h2 id="presentations">Presentations</h2>
I have given a total of <strong>{{ load_data(path="data/talks.json") | length }}</strong> talks at various venues.
You can read a <a href="/presentations/">complete list of presentations</a> that I have given.
If you are curious, you can also find a complete description of my <a href="/where/">past and future travel</a>.

<h2 id="software">Software</h2>
<table class="full-width">
  <thead>
    <tr>
      <th>Description</th>
      <th>Language</th>
      <th>Links</th>
    </tr>
  </thead>
{%- set software_hash = load_data(path="data/software.json") -%}
{%- for software in software_hash -%}
  <tbody>
    <tr>
      <td>{{ software.description }}</td>
      <td>{{ software.lang }}</td>
      <td class="list">{{ linker::list_links(hash=software.links) }}</td>
    </tr>
  </tbody>
{%- endfor -%}
</table>
{% endblock %}
