{% import "macros/data_links.html" as linker %}
{% extends "base.html" %}
{% block content %}
<h1>{{ section.title }}</h1>
{{ section.content | safe }}
<h2>Math</h2>
The documents here are in various states of incompletion.
Peruse at your own risk.
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Links</th>
    </tr>
  </thead>
{%- set notes = load_data(path="data/notes.json") | sort(attribute="title") -%}
{%- for note in notes -%}
  <tbody>
    <tr>
      <td>{{ note.title | safe }}</td>
      <td>{{ linker::list_links(hash=note.links) | safe }}</td>
    </tr>
  </tbody>
{%- endfor -%}
</table>

{#
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
{% for page in section.pages %}
    <tr>
      <td><a href="{{ page.permalink | safe }}">{{ page.title }}</a></td>
      <td>{{ page.taxonomies.tags }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
#}

{% endblock %}
{% block footer %}
{% endblock %}
