{% import "macros/data_links.html" as linker %}
{% extends "base.html" %}
{% block title %}{{ section.title }}{% endblock %}
{% block description %}{{ section.description }}{% endblock %}
{% block content %}
{{ section.content | safe }}
<h2>Articles</h2>
<ul>
{% for page in section.pages %}
    <li>
        <a href="{{ page.path | safe }}">{{ page.title }}</a>
        <div class="fade">{% if page.draft %}DRAFT{% else %}{{ page.date | date(format="%B %-d, %Y") }}{% endif %}
        </div>
    </li>
{% endfor %}
</ul>
{% endblock %}
